<div class="card-body">					
    <div class="card-deck">      
      <div class="card">
        <div class="card-header">UNIVERSIDAD COOPERATIVA DE COLOMBIA UCC</div>
        <div class="card-body">
          <h5 class="card-title">Ingeniero de Sistemas</h5>
          <p class="card-text">2013 - 2017</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">ICONTEC – UNIVERSIDAD COOPERATIVA DE COLOMBIA UCC</div>
        <div class="card-body">
          <h5 class="card-title">Auditor Interno en Sistemas de Gestión de Seguridad en la Información ISO 27001:2013</h5>
          <p class="card-text">2016</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">CENTRO DE CAPACITACIÓN Y EDUCACIÓN DIRIGIDA CCED</div>
        <div class="card-body">
          <h5 class="card-title">Técnico en Ingeniería de Sistemas con Énfasis en Redes</h5>
          <p class="card-text">2005 - 2007</p>
        </div>
      </div>
    </div>
</div>
