doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{title}: Proyecto Nodejs y Express
    // Bootstrap core CSS
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href="/stylesheets/starter-template.css", rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")        
  body    
    block content
    hr
    footer
      p(class='text-center') &copy; 2018 API Website Jorge Medina
    script(src="/javascripts/jquery-3.3.1.js")
    script(src="/javascripts/bootstrap.min.js")