<div class="card-body">
  <a class="btn btn-primary mb-3" href="https://co.linkedin.com/" target="_blank"> Ver más en Linkedin</a>
  <div class="card-deck">
    
    <div class="card">
      <div class="card-header">VEEVART</div>
      <div class="card-body">
        <h5 class="card-title">Desarrollador Backend</h5>
        <p class="card-text">
            
            <strong>Fecha:</strong> 22 de agosto de 2017 al 22 de noviembre de 2017 <br/>									
            <strong>Funciones:</strong> <br/>
            * Responsable del desarrollo de aplicaciones de Salesforce para el producto Veevart. <br/>
            * Involucrado en la verificación de aspectos del ciclo de desarrollo: idea, desarrollo,
            calidad, documentación e implementación, mantenimiento, manejo de errores y
            mejora de la aplicación.									 
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">AXA COLPATRIA SEGUROS S.A.</div>
      <div class="card-body">
        <h5 class="card-title">Analista Operativo SAP</h5>
        <p class="card-text">
            
            <strong>Fecha:</strong> 2015 - 2017<br/>									
            <strong>Funciones:</strong> <br/>
            * Responsable de atención al público (intermediarios y asegurados). <br/>
            * Recepción de documentos (recibir, revisar y clasificar según documento). <br/>
            * Atención telefónica. <br/>
            * Elaboración de vencimientos de seguros de automóviles <br/>
            * Elaboración de certificados de asegurabilidad. <br/>
            * Elaboración de informes de producción seguros de automóviles. <br/>
            * Elaboración de cotizaciones <br/>
            * Suscripción de seguros Generales, Automóviles, SOAT, Grupo Vida y Responsabilidad Civil. <br/>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">AXA COLPATRIA SEGUROS S.A.</div>
      <div class="card-body">
        <h5 class="card-title">Analista de Indemnizaciones</h5>							
        <p class="card-text">
            
            <strong>Fecha:</strong> 2008 - 2015<br/>									
            <strong>Funciones:</strong> <br/>									
            * Actualización de base de datos <br />
            * Consultas SQL para elaboración de informes de siniestralidad de la regional sur <br />
            * Creación de indicadores Gerenciales <br />
            * Responsable del análisis del siniestro dentro de los términos de ley <br />
            * Responsable de la liquidación de siniestros de Responsabilidad Civil (daños y lesiones) <br />
            * Responsable de la liquidación de siniestros Seguros Generales <br />
            * Responsable para pago a proveedores <br />
            * Elaboración y envío de cartas de objeción de acuerdo con las políticas y procedimientos establecidos <br />																																				
            * Responsable de la revisión de reservas <br />									
            * Elaboración de informes por perdidas mayores <br />									
          </p>
      </div>
    </div>

  </div>
</div>