<div class="card-body">
  <a class="btn btn-primary mb-3" href="https://www.linkedin.com/in/jorge-andrés-medina-castro-b77966149" target="_blank"> Ver más en Linkedin</a>
  <div class="card-deck">

    <div class="card bg-success">
      <div class="card-header text-white">GREENSQA S.A.</div>
      <div class="card-body">
        <h5 class="card-title">Ingeniero de Pruebas</h5>
        <p class="card-text">
          <strong>Fecha:</strong> Actualmente <br/>
        </p>
      </div>
    </div>
    
    <div class="card bg-info">
      <div class="card-header text-white">VEEVART</div>
      <div class="card-body">
        <h5 class="card-title">Desarrollador Backend</h5>
        <p class="card-text">
          <strong>Fecha:</strong> 22 de agosto de 2017 al 22 de noviembre de 2017 <br/>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="card-body">
  <div class="card-deck">
    
    <div class="card bg-info">
      <div class="card-header text-white">AXA COLPATRIA SEGUROS S.A.</div>
      <div class="card-body">
        <h5 class="card-title">Analista Operativo SAP</h5>
        <p class="card-text">
          <strong>Fecha:</strong> 2015 - 2017<br/>
        </p>
      </div>
    </div>

    <div class="card bg-info">
      <div class="card-header text-white">AXA COLPATRIA SEGUROS S.A.</div>
      <div class="card-body">
        <h5 class="card-title">Analista de Indemnizaciones</h5>
        <p class="card-text">
          <strong>Fecha:</strong> 2008 - 2015<br/>
        </p>
      </div>
    </div>

  </div>
</div>