<div class="card-body">
  <div class="form-group row mb-0">	
    <label class="col-form-label ml-3" for="nombre">
      Nombre: Jorge Andrés Medina Castro
    </label>					
  </div>	
  <div class="form-group row mb-0">	
    <label class="col-form-label ml-3" for="nombre">
      Website: <a href="https://jorgemedina.herokuapp.com"> https://jorgemedina.herokuapp.com</a>
    </label>					
  </div>	
  <div class="form-group row mb-0">	
    <label class="col-form-label ml-3" for="nombre">
      GitHub: <a href="https://github.com/jmedinac1987" target="_blank"> https://github.com/jmedinac1987</a>
    </label>							
  </div>
  <div class="form-group row mb-0">	
    <label class="col-form-label ml-3" for="nombre">
      Linkedin: <a href="https://www.linkedin.com/in/jorge-andrés-medina-castro-b77966149" target="_blank"> Linkedin</a>
    </label>							
  </div>					
</div>