<div class="container pt-4">	
	<div class="row pt-5 animated slideInDown">
		<img class="ajusteCentral" id="profile" src="../../../assets/jmwebsite2.png" alt="Loadin...">			
	</div>	
	<h2 id="nameH2" class="ajusteCentral animated zoomInUp">Jorge Andrés Medina Castro</h2>					
	<p class="text-center pt-2 lead animated zoomInUp">Ingeniero de sistemas con amplio conocimiento en el desarrollo de aplicaciones WEB, con experiencia de 10 años en el sector asegurador.  Auditor interno en Sistemas de Gestión de Seguridad en la Información ISO 27001:2013 y manejo de Excel Intermedio.</p>						
	<div class="row justify-content-md-center animated zoomInUp">
		<a id="bt" class="btn btn-primary btn-lg" [routerLink]="['/about']">Sobre mí</a>
	</div>
	<app-networksocial></app-networksocial>
</div>
