<div class="container pt-4">	
	<div class="row pt-5 animated zoomInUp">
		<img class="ajusteCentral" id="profile" src="../../../assets/jmwebsite2.png" alt="Loadin...">			
	</div>	
	<h2 id="nameH2" class="ajusteCentral animated zoomInUp">Jorge Andres Medina Castro</h2>					
	<p class="text-center pt-2 lead animated zoomInUp">Apasionado por el desarrollo de software</p>						
	<div class="row justify-content-md-center animated zoomInUp">
		<a id="bt" class="btn btn-outline-primary btn-lg" [routerLink]="['/about']">Sobre mi</a>
	</div>
	<app-networksocial></app-networksocial>
</div>
