<div class="container pt-4">	
	<div class="row pt-5 animated slideInDown">
		<img class="ajusteCentral" id="profile" src="../../../assets/jmwebsite2.png" alt="Loadin...">			
	</div>	
	<h2 id="nameH2" class="ajusteCentral animated zoomInUp">Jorge Andrés Medina Castro</h2>					
	<p class="text-center pt-2 lead animated zoomInUp">Ingeniero de sistemas apasionado por el desarrollo de aplicaciones, con conocimientos de backend con NodeJs, experiencia en pruebas funcionales, automatización de pruebas con java + selenium + cucumber y conocimientos en base de datos SLQ y NO-SQL</p>						
	<div class="row justify-content-md-center animated zoomInUp">
		<a id="bt" class="btn btn-primary btn-lg" [routerLink]="['/about']">Sobre mí</a>
	</div>
	<app-networksocial></app-networksocial>
</div>