 <!--Section Redes Sociales -->
 <section class="infoRedesSociales" id="redesSociales">
    <div class="infoContentRedesSociales">
        <div class="col-md-4">
            <article class="block animated fadeIn delay-1s">
                <i class="fab fa-linkedin tamano"></i>
                <h3><a href="https://co.linkedin.com/" target="_blank">Linkedin</a></h3>
                <p class="lead">Puedes encontrame en Linkedin!</p>
                <a href="https://co.linkedin.com/" class="btn btn-outline-secondary" target="_blank">Ver</a>
            </article>
        </div>
        <div class="col-md-4">
            <article class="block animated fadeIn delay-2s">                
                <i class="far fa-envelope tamano"></i>              
                <h3><a [routerLink]="['/contact']">Contáctame!</a></h3>
                <p class="lead">Puedes contactarme vía e-mail :)</p>
                <a [routerLink]="['/contact']" class="btn btn-outline-secondary">ir</a>
            </article>
        </div>                   
        <div class="col-md-4">
            <article class="block animated fadeIn	delay-3s">
                <i class="fab fa-github tamano"></i>
                <h3><a href="https://github.com/jmedinac1987" target="_blank">GitHub</a></h3>
                <p class="lead">Conoce mi perfil de GitHub!</p>
                <a href="https://github.com/jmedinac1987" class="btn btn-outline-secondary" target="_blank">Ver</a>
            </article>
        </div>
    </div>
</section>