.infoRedesSociales{
    color: black;
    padding: 20px;
}

.infoContentRedesSociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.infoContentRedesSociales .block{
    padding: 8px;
    width: 100%;
}

.infoContentRedesSociales .block .icon-social{
    font-size: 70px;
}