<div class="card-body">
  <div class="list-group col-md-4 mb-3 mt-3 alingList">
    <li class="list-group-item list-group-item-action">
      Diseño y Ejecución de pruebas funcionales
    </li>
    <li class="list-group-item list-group-item-action">
      Automatización con Java + Selenium + Cucumber
    </li>
    <li class="list-group-item list-group-item-action">Excel Intermedio</li>
    <li class="list-group-item list-group-item-action">
      Manejo de herramientas ofimáticas
    </li>
    <li class="list-group-item list-group-item-action">
      Mantenimiento y ensamble de computadores
    </li>
    <li class="list-group-item list-group-item-action">Node.js</li>
    <li class="list-group-item list-group-item-action">Java</li>
    <li class="list-group-item list-group-item-action">PHP 7</li>        
  </div>
  <div class="list-group col-md-4 mb-3 mt-3 alingList">
    <li class="list-group-item list-group-item-action">Scrum</li>
    <li class="list-group-item list-group-item-action">Laravel</li>
    <li class="list-group-item list-group-item-action">Angular</li>
    <li class="list-group-item list-group-item-action">Bootstrap 4</li>    
    <li class="list-group-item list-group-item-action">JavaScript</li>
    <li class="list-group-item list-group-item-action">CSS 3</li>
    <li class="list-group-item list-group-item-action">HTML 5</li>    
  </div>
  <div class="list-group col-md-4 mb-3 mt-3 alingList">
    <li class="list-group-item list-group-item-action">Git y GitHub</li>      
    <li class="list-group-item list-group-item-action">PostgreSQL</li>
    <li class="list-group-item list-group-item-action">
        Auditoria de sistemas basados en ISO 27001:2013
      </li>  
      <li class="list-group-item list-group-item-action">Apex</li>
      <li class="list-group-item list-group-item-action">TypeScript</li>
      <li class="list-group-item list-group-item-action">MySQL</li>
  </div>
</div>
