<div class="container pt-4 animated bounceInLeft">
    
    <h1 id="title-contact" class="pt-5">
        HOLA!
    </h1>
    <div class="row justify-content-md-center">
        <p id="coment-welcome" class="text-justify">
            Es excelente que desees contactarme, por favor diligencia el siguiente formulario y me contactare contigo vía correo electrónico.
        </p>
        <div class="col-md-7" id="form-card">
            <div class="card">
                <div class="card-header">
                    <h5>
                        Enviar Mensaje
                    </h5>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()"  #emailForm="ngForm" method="POST">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="email">
                                E-mail
                            </label>
                            <div class="col-sm-10">
                              <input class="form-control" [(ngModel)]="form.email" name="email" placeholder="Su dirección e-mail" required type="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="name">
                                Nombre
                            </label>
                            <div class="col-sm-10">
                                <input minlength="7" maxlength="30" class="form-control" name="name" placeholder="Nombre y primer apellido" [(ngModel)]="form.name" required type="text" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="asunto">
                                Asunto
                            </label>
                            <div class="col-sm-10">
                                <input minlength="3" maxlength="30" class="form-control" name="asunto" placeholder="Asunto" [(ngModel)]="form.asunto" required type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea minlength="3" class="form-control" cols="30" name="content" placeholder="Escribe aquí tu mensaje!" [(ngModel)]="form.content" required rows="7">
                            </textarea>
                        </div>
                        <button class="btn btn-primary btn-block" [disabled]="!emailForm.form.valid">
                            <strong>
                                Enviar
                            </strong>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5" id="img-card">
            <p class="lead frase text-justify">
                "La lectura hace al hombre completo; la conversación, ágil, y el escribir, preciso."
                <br/>
                -- Sir Francis Bacon --
            </p>
            <img alt="Loading...." id="img-mail" src="../../../assets/email.png">
        </div>
    </div>
    
</div>