<div class="container pt-4 animated bounceInLeft">
	<div class="accordion pt-5" id="accordionInformation">
		<div class="card bg-dark text-white">
		  <div class="card-header bgSubTitle pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			<h5 class="card-title mb-0">			 
					🤴 Acerca de mí
			</h5>
		  </div>	  
		  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionInformation">
				<app-acercade></app-acercade>	
		  </div>
		</div>
		<div class="card bg-dark text-white">
		  <div class="card-header bgSubTitle text-white pointer" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<h5 class="card-title mb-0">			  
					⚔️ Habilidades
			</h5>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionInformation">
				<app-skills></app-skills>
		  </div>
		</div>
		<div class="card bg-dark">
		  <div class="card-header bgSubTitle text-white pointer" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			<h5 class="card-title mb-0">			  
				👔 Experiencia laboral
			</h5>
		  </div>
		  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionInformation">
				<app-experience></app-experience>
		  </div>
		</div>	 
		<div class="card bg-dark">
			<div class="card-header bgSubTitle text-white pointer" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				<h5 class="card-title mb-0">			  
					📚 Formación academica			  
				</h5>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionInformation">
				<app-education></app-education>
			</div>
		</div>
		<div class="card bg-dark">
			<div class="card-header bgSubTitle text-white pointer" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">				
				<h5 class="card-title mb-0">			  
					<i class="fas fa-project-diagram"></i> Proyectos personales			  
				</h5>
			</div>
			<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionInformation">
				<app-projects></app-projects>
			</div>
		</div>	
	 </div>	 
</div>