<div class="container pt-4 animated bounceInLeft">
	<h1 class="display-4 pt-5">Sobre mi</h1>
	<div class="accordion" id="accordionInformation">
		<div class="card">
		  <div class="card-header bg-primary text-white pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			<h5 class="card-title mb-0">			 
				Acerca de mí
			</h5>
		  </div>	  
		  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionInformation">
			<div class="card-body">
				<div class="form-group row mb-0">	
					<label class="col-form-label ml-3" for="nombre">
						<strong>Nombre:</strong> Jorge Andrés Medina Castro
					</label>					
				</div>	
				<div class="form-group row mb-0">	
					<label class="col-form-label ml-3" for="nombre">
						<strong>Webite:</strong> <a href="https://jmedinac1987.github.io/jorgemedina/"> https://jmedinac1987.github.io/jorgemedina/</a>
					</label>					
				</div>	
				<div class="form-group row mb-0">	
					<label class="col-form-label ml-3" for="nombre">
						<strong>GitHub:</strong> <a href="https://github.com/jmedinac1987"> https://github.com/jmedinac1987</a>
					</label>							
				</div>	
			</div>
		  </div>
		</div>
		<div class="card">
		  <div class="card-header bg-primary text-white pointer" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<h5 class="card-title mb-0">			  
				Habilidades
			</h5>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionInformation">
			<div class="card-body">
			  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		  </div>
		</div>
		<div class="card">
		  <div class="card-header bg-primary text-white pointer" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			<h5 class="card-title mb-0">			  
				Experiencia laboral
			</h5>
		  </div>
		  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionInformation">
			<div class="card-body">
			  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		  </div>
		</div>	 
		<div class="card">
			<div class="card-header bg-primary text-white pointer" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				<h5 class="card-title mb-0">			  
					Formación academica			  
				</h5>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionInformation">
				<div class="card-body">
						<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Primary card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</div>
			</div>
		</div>	
	 </div>
</div>
