body{
	background: url(assets/qbkls.png);
}
.ng-invalid:not(form){
    border-left: 5px solid red;
}
.ng-valid:not(form){
    border-left: 5px solid #42b9dd;
}
.active{
	background-color: purple;
	border-radius: 6px;		
	text-align: center;
}
div{
	font-family: 'Fjalla One', sans-serif;
}