<div class="card-body">
  <div class="card-deck">

    <div class="card text-white bg-success">
      <div class="card-header">APLICACIÓN DE TAREAS BOOTSTRAP</div>
      <div class="card-body">
        <h5 class="card-title">APPTASKS</h5>
        <p class="card-text">Demo de la aplicación: <a class="text-warning" href="https://jmedinac1987.github.io/apptasks/" target="_blank"> Ver</a>
          <br /> Repositorio: <a href="https://github.com/jmedinac1987/apptasks" target="_blank"> Ver</a>
        </p>
      </div>
    </div>

    <div class="card text-white bg-danger">
      <div class="card-header">APLICACIÓN DE TAREAS ANGULAR MATERIAL DESIGN</div>
      <div class="card-body">
        <h5 class="card-title">TASKSMATERIALAPP</h5>
        <p class="card-text">Demo de la aplicación: <a class="text-warning" href="https://jmedinac1987.github.io/tasksmaterialapp/" target="_blank">
          Ver</a> <br /> Repositorio: <a href="https://github.com/jmedinac1987/tasksmaterialapp" target="_blank"> Ver</a>
        </p>
      </div>
    </div>

    <div class="card text-white bg-info">
      <div class="card-header">API RESTful Tasks</div>
      <div class="card-body">
        <h5 class="card-title">API</h5>
        <p class="card-text">Demo de la aplicación: <a class="text-warning" href="https://tasksapplication.herokuapp.com/login" target="_blank">
          Ver</a> <br /> Repositorio: <a href="https://github.com/jmedinac1987/api-rest-app-taks" target="_blank"> Ver</a>
          <br/> NOTA: usar usuario registrado en la aplicación AppTasks o en la aplicación TasksMaterialApp.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="card-body">
  <div class="card-deck">

    <div class="card bg-warning">
      <div class="card-header">CRUD DE USUARIOS</div>
      <div class="card-body">
        <h5 class="card-title">CRUD DE USARIOS CON PHP</h5>
        <p class="card-text">Demo de la aplicación: <a class="text-success" href="https://crudpersonasjm.herokuapp.com/" target="_blank">
          Ver</a> <br /> Repositorio: <a href="https://github.com/jmedinac1987/aplicacion-crud-usuarios-php-mvc"
            target="_blank"> Ver</a>
        </p>
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-header">SPA ANGULAR + LARAVEL</div>
      <div class="card-body">
        <h5 class="card-title">SPA con sistema de autenticación y reinicio de contraseñas</h5>
        <p class="card-text">
          Repositorio: <a href="https://github.com/jmedinac1987/angular-laravel-authentication" target="_blank">
          Ver</a>
        </p>
      </div>
    </div>

  </div>
</div>
