<div class="card-body">
  <div class="card-deck">
    
    <div class="card">
      <div class="card-header">APLICACIÓN DE TAREAS BOOTSTRAP</div>
      <div class="card-body">
        <h5 class="card-title">APPTASKS</h5>
        <p class="card-text">Demo de la aplicación:  <a href="https://jmedinac1987.github.io/apptasks/" target="_blank"> Ver</a> <br />
                             Repositorio:  <a href="https://github.com/jmedinac1987/apptasks" target="_blank"> Ver</a>
        </p>                        
      </div>    
    </div>

    <div class="card">
      <div class="card-header">APLICACIÓN DE TAREAS ANGULAR MATERIAL DESIGN</div>
      <div class="card-body">
        <h5 class="card-title">TASKSMATERIALAPP</h5>
        <p class="card-text">Demo de la aplicación:  <a href="https://jmedinac1987.github.io/tasksmaterialapp/" target="_blank"> Ver</a> <br />
          Repositorio:  <a href="https://github.com/jmedinac1987/tasksmaterialapp" target="_blank"> Ver</a>
        </p>        
      </div>    
    </div>

    <div class="card">
      <div class="card-header">API RESTful Tasks</div>
      <div class="card-body">
        <h5 class="card-title">API</h5>
        <p class="card-text">Demo de la aplicación:  <a href="https://tasksapplication.herokuapp.com/login" target="_blank"> Ver</a> <br />
          Repositorio:  <a href="https://github.com/jmedinac1987/api-rest-app-taks" target="_blank"> Ver</a> <br/>
          NOTA: usar usuario registrado en la aplicación AppTasks o en la aplicación TasksMaterialApp.
        </p>        
      </div>    
    </div>

    <div class="card">
      <div class="card-header">CRUD TABLERO DE TAREAS</div>
      <div class="card-body">
        <h5 class="card-title">TABLERO DE TAREAS</h5>
        <p class="card-text">Demo de la aplicación:  <a href="https://tareas-postgres-express-vuejs.herokuapp.com/" target="_blank"> Ver</a> <br />
          Repositorio:  <a href="https://github.com/jmedinac1987/aplicacion-tareas-mysql-express-vuejs-nodejs" target="_blank"> Ver</a> <br/>
          NOTA: usar usuario registrado en la aplicación AppTasks o en la aplicación TasksMaterialApp.
        </p>        
      </div>    
    </div>

  </div>
</div>